
<div class="menubar">
    <div class="all-links">
        <a class="home" href="/thankyou">Home</a>
        <a class="the-tag" href="/tag">The Tag</a>
        <i class="material-icons">keyboard_arrow_down</i><a class="profile" href="#">Profile</a>
    <!-- <button class="profile">Profile </button> -->
    </div>

        <div class="menubar-ul">
            <div><a class="list-item" href="/profile/edit">edit profile</a></div>
            <div>
                <form class="list-item2" method="POST" action="/deleteSignature" >
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button class="delete-signature">delete sig.</button>
                </form>
                <div class="list-item2-button">{{> logoutButton}}</div>

            </div>

        </div>
</div>

<h1 class='main-title-thanks'>Tell me more about my clothes...</h1>
