<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Archivo|Archivo+Black|Archivo+Narrow" rel="stylesheet">
        <title></title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
