
<div class="container-login">
    <h1 class="header-login">Please Login</h1>
    <form Method="POST" class="user-input-login">
        {{#if error}}
        <h2>{{> error-page}}</h2>
        {{/if}}

        {{#if error2}}
        <h2>{{> errorNotaUser}}</h2>
        {{/if}}

        <input type="text" placeholder="email" name="email" value="">
        <input type="password" placeholder="password" name="password" value="">
        <button id= "login-button"> login </button>
    </form>
</div>
