
<div class="container-login">
    <h1 class="headerLogin">Please Login</h1>
    <form Method="POST" class="user-input-login">
        {{#if error}}
        <h2>{{> error-page}}</h2>
        {{/if}}
        <input type="text" placeholder="email" name="email" value="">
        <input type="password" placeholder="password" name="password" value="">
        <button id= "loginButton"> login </button>
    </form>
</div>
