<div class="container-logout">

    <h2>you have succesfully logged out</h2>

        <h4 class="text-logout">would you like to <a href="/login">log in</a> again? If you would like to register a new user <a href="/register">register here</a> </h4>

</div>
