
<div class="container">

    <h1 class='main-title'>Tell me more about my clothes...</h1>
    <div class="main-paragraph">
        <p>We ask the big players in fast-fashion to provide transparency by disclosing supplier information as well as the journey
        about how the products were made and which players were involved. How? by integrating an extra tag in each piece of clothing disclosing these information to the purchaser of the product.</p>
        <p>The end goal is to educate consumers about how products are made and ultimately close the loop of  the product lifecycle.</p>
    </div>
    {{#if error}}
    <h2>{{> error-page}}</h2>
    {{/if}}
    <form Method="POST" class="user-input-petition">
        <input id= "canvasDataSave" type="hidden" name="signature" value="">
        <small>signature</small>
        <canvas id="canvas-sign" width="203" height="100"></canvas>
        <button id= "sign-petition"> sign petition </button>
    </form>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="script.js"></script>
