

<div class="container-profile">
    <h2 id="header-profile">Please tells us a little bit more about yourself</h2>
    <form Method="POST" class="profile-input">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="text" name="age" placeholder="age"value="">
        <input type="text" name="city" placeholder="city"value="">
        <input type="url" name="homepage" placeholder="homepage"value="">
        <button>continue</button>
    </form>
    {{> logoutButton}}
</div>
