{{> menuBar}}


<div class="container-thankyou-page">
    <h3 class='h1-thankyou'>Thank you!</h3>
    <!-- <small>your signature</small> -->
    <img class="signature-thankyou" src={{yourSignature}} alt="">
    <div class="signers-link">
        <h2><a href="/signers"> see all {{totalSigners}} signers </a></h2>
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/scriptProfile.js"></script>
