body {
    margin: 0;
}

/* petition page */

.container {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    margin-left: 190px;
    margin-top: 50px;
    height: 100%;
    grid-template-areas:
        "main-title main-title"
        "main-paragraph user-input"
        "tag-image tag-image";
}

.main-title {
    /* grid-column: 1 / -1; */
    grid-area: main-title;
    text-transform: uppercase;
    font: 56px "Kanit", sans-serif;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 30px;
}

.main-paragraph {
    margin-top: 30px;
    grid-area: main-paragraph;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}

.user-input-petition {
    grid-area: user-input;
    margin-top: 30px;
    width: 200px;
    align-self: center;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}
input {
    width: 200px;
    margin-bottom: 14px;
    font-size: 20px;
    color: #f7f7ff;
}

canvas {
    background-color: white;
    margin-bottom: 30px;
    border: 2px dotted #afafaf;
}

.tag-image {
    grid-area: tag-image;
    width: 899px;
    height: 700px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 16px;
}

button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    background: #ff00ff;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 1.5px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #00ffff;
}
small {
    color: #afafaf;
    font-family: "Open Sans", sans-serif;
}

#fast-fashion,
#loop {
    text-decoration: none;
    font-weight: bold;
    color: #3366bb;
}

/* login page */

.container-login {
    display: grid;
    place-items: center center;
    margin-top: 200px;
}

.header-login {
    font-family: "Open Sans", sans-serif;
    justify-self: center;
    font-size: 36px;
}
.user-input-login {
    justify-self: center;
    font-family: "Open Sans", sans-serif;
}

form:focus,
input:focus {
    color: black;
}

input,
select,
form {
    color: black;
}

#login-button {
    margin-left: 27px;
}

/* registration */

.container-register {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "main-title"
        "register-title2"
        "user-input-register";
}

.register-title2 {
    grid-area: register-title2;
    text-transform: uppercase;
    justify-self: center;
    font: 22px "Open Sans", sans-serif;
    margin-bottom: 70px;
}

.user-input-register {
    grid-area: user-input-register;
    justify-self: center;
    font-family: "Open Sans", sans-serif;
}

.member {
    grid-area: footer;
    font: 14px "Open Sans", sans-serif;
}

#sign-up {
    width: 200px;
    text-align: center;
    margin-left: 2px;
}

/* profile page */

.container-profile {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "title-profile"
        "user-input-profile";
}
.profile-input {
    grid-area: user-input-profile;
    font-family: "Open Sans", sans-serif;
    justify-self: center;
}

#header-profile {
    font-family: "Open Sans", sans-serif;
    font-size: 59px;
    grid-area: title-profile;
}
.logout-button-profile {
    grid-area: footer-profile;
    justify-self: center;
}

/* profile edit page */

.profile-input-edit {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

#header-profile-edit {
    font: 22px "Open Sans", sans-serif;
    text-align: center;
    font-weight: bold;
}

#update-button {
    margin-left: 20px;
    margin-bottom: 50px;
    margin-top: 5px;
}
/* signers list page */

.container-signers {
    display: grid;
    justify-content: center;
    align-items: center;
}

.signers-title {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 30px;
}

.list-signers {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

/* thankyou page */

.container-thankyou-page {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.h1-thankyou {
    font: 40px "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
}

.signature-thankyou {
    border: 2px dotted #00ffff;
    background-color: #f9f9f9;
    justify-self: center;
}

.signers-link {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #0645ad;
}

/* errors */
#error {
    color: red;
    font-family: "Roboto Mono", monospace;
}

#error-not-a-user {
    color: red;
    font-family: "Roboto Mono", monospace;
}

/* tagPage */

.tag-tag-page {
    width: 1200px;
    height: 920px;
    margin-left: 100px;
    margin-bottom: 50px;
}
/* logout */

.container-logout {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 200px;
}

.text-logout {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
}

/* nav */
.main-title-thanks {
    font: 56px "Kanit", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.home {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-right: 40px;
    color: #ff00ff;
}

.profile {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    padding-bottom: -20px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-right: 40px;
    color: black;
}

.the-tag {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    padding-bottom: -20px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-right: 40px;
    color: black;
}
.menubar {
    grid-column: 1 / span 3;
    grid-row: 1;
    height: 40px;
    text-align: right;
    position: relative;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: 0px 0.5px 0.5px #a4a4a4;
}

.list-item {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    margin-left: 7px;
    color: black;
}

.list-item:hover {
    font-weight: bold;
}

.delete-signature:hover {
    font-weight: bold;
}

.logout-button-button:hover {
    font-weight: bolder;
}
.delete-signature {
    font-family: "Open Sans", sans-serif;
    width: 200px;
    margin-left: -8px;
    font-size: 21px;
    margin-left: 1px;
}

.list-item2-button {
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
}
.menubar button {
    background-color: white;
    color: black;
    text-align: justify;
}

.logout-button-button {
    font-size: 20px;
}

.menubar-ul {
    border: 1px solid transparent;
    box-shadow: 0px 0.2px 0.2px #a4a4a4;
    width: 150px;
    text-align: left;
    position: absolute;
    right: 0;
    z-index: 100;
    background-color: white;
    box-sizing: border-box;
    list-style: none;
    display: none;
    overflow: hidden;
    margin-top: 10px;
}

i {
    margin-top: 10px;
}

/* MOBILE */

/* register page */
@media screen and (max-width: 600px) {
    .container-register {
        display: grid;
    }
    .register-title2 {
        display: grid;
        margin-left: 14px;
        margin-right: 3px;
        margin-bottom: 40px;
        padding: 16px;
    }

    .main-title {
        font: 50px "Kanit", sans-serif;
        margin-top: 14px;
        margin-right: 7px;
        margin-left: 9px;
        padding: 5px;
    }
}

/* petition page */

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 5px;
        grid-template-areas:
            "main-title"
            "main-paragraph"
            "user-input"
            "tag-image";
    }

    .main-paragraph {
        grid-area: main-paragraph;
        font-size: 16px;
        padding: 10px;
        margin-top: 5px;
        margin-left: -5px;
    }

    .main-title {
        grid-area: main-title;
        font: 50px "Kanit", sans-serif;
        margin-top: 14px;
        margin-right: 7px;
        margin-left: 9px;
        padding: 5px;
    }

    user-input-petition {
        grid-area: user-input;
    }

    .tag-image {
        grid-area: tag-image;
        width: 330px;
        height: 290px;
        margin-top: 30px;
    }
}

/* tagPage */

@media screen and (max-width: 600px) {
    .tag-tag-page {
        width: 350px;
        height: 310px;
        margin: auto;
        margin-left: 5px;
    }
}

/* profile page */

@media screen and (max-width: 600px) {
    #header-profile {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        padding: 5px;
        margin-top: 80px;
    }
}

/* input border */
@media screen and (max-width: 600px) {
    input {
        width: 260px;
        border: 0.8px solid #c2c2c2;
    }
}

/* nav */

@media screen and (max-width: 600px) {
    .main-title-thanks {
        font: 34px "Kanit", sans-serif;
        padding: 5px;
    }

    .home {
        font-size: 20px;
        margin-right: 10px;
    }

    .profile {
        font-size: 20px;
        margin-right: -5px;
    }

    .the-tag {
        font-size: 20px;
    }

    .all-links {
        margin: 5px;
    }

    .menubar-ul {
        border: 1px solid transparent;
        box-shadow: 0px 0.2px 0.2px #a4a4a4;
        width: 300px;
        text-align: left;
        position: absolute;
        right: 0;
        z-index: 100;
        background-color: white;
        box-sizing: border-box;
        list-style: none;
        display: none;
        overflow: hidden;
        margin-top: 10px;
    }

    i {
        margin-top: 10px;
    }
}

/* signers list page */
@media screen and (max-width: 600px) {
    .container-signers {
        margin-right: 20px;
    }

    .signers-title {
    }

    .list-signers {
        font-size: 14px;
    }
}

/* login page */

@media screen and (max-width: 600px) {
    /* .login-button {
        margin-left: 40px;
    }*/
}
