body {
    margin: 0;
}

/* petition page */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 180px;
    margin-top: 50px;
    height: 100%;
    grid-template-areas:
        "main-title main-title"
        "main-paragraph user-input";
}

.main-title {
    /* grid-column: 1 / -1; */
    grid-area: main-title;
    text-transform: uppercase;
    font: 56px "Kanit", sans-serif;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 60px;
}

.main-paragraph {
    margin-top: 30px;
    grid-area: main-paragraph;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    max-width: 600px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}

.user-input-petition {
    grid-area: user-input;
    margin-top: 30px;
    width: 200px;
    align-self: center;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}
input {
    width: 200px;
    margin-bottom: 14px;
    font-size: 20px;
    color: #afafaf;
}

canvas {
    background-color: white;
    margin-bottom: 30px;
    border: 2px dotted #afafaf;
}

button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    background: #ff00ff;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 1.5px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #00ffff;
}
small {
    color: #afafaf;
    font-family: "Open Sans", sans-serif;
}

/* login page */

.container-login {
    display: grid;
    place-items: center center;
    margin-top: 200px;
}

.header-login {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
}
.user-input-login {
    width: 300px;
    margin-left: 90px;
    align-self: center;
}

form:focus,
input:focus {
    color: black;
}

#login-button {
    margin-left: 27px;
}

/* registration */

.container-register {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* margin-left: 180px;
    margin-top: 50px; */
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "main-title"
        "register-title2"
        "user-input-register";
}

.register-title2 {
    grid-area: register-title2;
    text-align: center;
    font: 22px "Open Sans", sans-serif;
}

.user-input-register {
    grid-area: user-input-register;
    width: 200px;
    height: 400px;
    margin-top: 50px;
    margin-left: 400px;
}

.member {
    grid-area: footer;
    font: 14px "Open Sans", sans-serif;
}

#sign-up {
    width: 200px;
    text-align: center;
    margin-left: 2px;
}

/* profile page */

.container-profile {
    display: grid;
    justify-content: center;
    align-items: center;
}

#header-profile {
    font-family: "Open Sans", sans-serif;
    font-size: 59px;
}

/* signers list page */

.container-signers {
    display: grid;
    justify-content: center;
    align-items: center;
}

.signers-title {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 30px;
}

.list-signers {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

.main-title-in-signers {
    text-transform: uppercase;
    font: 56px "Kanit", sans-serif;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 60px;
}

/* thankyou page */

.container-thankyou-page {
    display: grid;
    justify-content: center;
    align-items: center;
}

.h1-thankyou {
    text-transform: uppercase;
    font: 56px "Kanit", sans-serif;
    font-weight: bold;
    /* margin-left: 25px; */
    margin-top: 60px;
}

.signers-link {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    /* margin-left: 30px; */
}

/* errors */
#error {
    color: red;
    font-family: "Roboto Mono", monospace;
}

#error-not-a-user {
    color: red;
    font-family: "Roboto Mono", monospace;
}

/* logout */

.container-logout {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 200px;
}

.text-logout {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
}
